html, body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url('./images/highres_484355497.jpeg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}