html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('./images/highres_484355497.jpeg');
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about {
    background-color: black;
    color: white;
    margin: 0;
    width: 100%;
    max-width: none;
}

.about__content {
    padding-left: 8px;
}

.rules-agenda {
    background-color: black;
    color: white;
    margin: 0;
    width: 100%;
    max-width: none;
}

.rules-agenda ol,
.rules-agenda ul {
    padding-left: 24px;
}

.faqs {
    background-color: black;
    color: white;
    margin: 0;
    width: 100%;
    max-width: none;
}

.faqs__qa {
    padding-left: 8px;
}

@media screen and (min-width: 800px) {
    header {
        height: 100vh;
    }

    .rules-agenda ol,
    .rules-agenda ul {
        padding-left: 80px;
    }

    .faqs__qa {
        padding-left: 40px;
    }

    .text-light {
        font-size: 20px;
    }
}